.profileImgWrapper {
    height: 100px;
    width: 100px;
    position: relative;
    margin: 0px auto;
}

.profileImg {
    height: 100% !important;
    width: 100% !important;
    object-fit: contain;
}

.editIcon {
    position: absolute;
    bottom: 0px;
    right: 0px;
}